{% extends 'base.html' %}
{% load tailwind_filters %}
 {% block content %}
<section class="text-gray-600 body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <a class='hover:text-blue-500' href="{% url 'tasks:task-list' %}">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
      </svg>
      Back</a>
    <div class="lg:w-4/5 mx-auto flex flex-wrap">
      <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
        <h1 class="text-gray-900 text-3xl title-font font-medium mb-4">{{ task.first_name}} {{task.last_name}}</h1>
        <div class="flex mb-4">
          <a href="{% url 'tasks:task-detail' task.pk %}" class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1">Overview</a>
          <a href="{% url 'tasks:task-update' task.pk %}" class="flex-grow text-indigo-500 border-b-2 border-indigo-500 py-2 text-lg px-1">Update details</a>
        </div>
        <form method="post">
          {% csrf_token %} {{ form|crispy }}
          <button type="submit" class="w-1/4 mt-3 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-md">Update</button>
          <a href="{% url 'tasks:task-delete' task.pk %}" class="w-1/2 mt-3 bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-md">Delete</a>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
<!-- <a href="{% url 'tasks:task-list' %}">Back</a>
<hr />
<h1>Update task {{ task.title }}</h1>
<form method="POST">
  {% csrf_token %} {{ form.as_p }}
  <button type="submit">Update</button>
</form> -->